

<html>
<head>
<!-- <link href="style.css" rel="stylesheet" type="text/css"> -->

</head>
<style type="text/css">
  body { background-color: #D8D8D8;color: #444;}
  h1 {font-weight: bold;text-align: center;}
  header { padding: 50px 10px; color: #fff; font-size :15px; text-align:right;}
   p { margin-bottom :20px;  margin-left: 20px;}
   footer {text-decoration: overline; margin-top: 300px}
   div { width:100%; background:#99CC00;position:static; top:0;left:0;}
   .just
   {
      text-align: center; 
  
   }
  a:link {color:#FF0000;}    /* unvisited link */
  a:visited {color:#0B614B;} /* visited link */
  a:hover {color:#B4045F;}   /* mouse over link */
  a:active {color:#0000FF;}
  
    ul { list-style-type:none; margin:0; padding:0;text-align: right; }
  li { display:inline; }
  </style>
<body>
<div>
    <h1> <%= title %> </h1>
    <ul>
<% for (var i=0; i<nav.length;i++) {%>

<li><a href="/<%=nav[i]%>"> <%=nav[i]%> </a></li>
   &nbsp;  
<% } %>
   </ul>
</div>

<br>
<h3>Node.js</h3>
<p class='just'>Express is agnostic as to which templating language you use. Templating languages can be a hot topic of debate.Here Iam going to use Jade.</p>
<p class ='just'>Again Express is agnostic to what you use to generate your CSS-you can use vanilla CSS but for this example I'm using Stylus.
</p>
<footer>
Running on node with express and ejs
</footer>
</home>
</html>